@font-face {
    font-family: Pinyon;
    src: url(pinyon-script/PinyonScript-Regular.ttf);
    font-weight: normal;
    font-style: normal;

}

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    
}
body{
    display: flex;

    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

div{
    margin: 0 10px 0 10px;
    max-width: 500px;
    width: 95%;
    height: 30%;
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1{
    margin: 0;
    font-size: 3em;
    font-family: Pinyon;
    font-weight: 100;
    color: black;
    /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */


    

}

#registry{
    background-image: url(tkthao219-bubududu.gif);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#rsvp{
    background-image: url(dudu_rsvp.png), url(bubu_rsvp\ copy\ 2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left, right;
    background-color: #b3b5b4;
}

#rsvp h1{
    /* position: relative;
    transform: translate(-85px, -55px); */
}

#photo h1{
   
    background-color: rgba(255, 255, 255, .5);
    border-radius: 30px;
 
}

#main_image{
    /* display: flex; */
    width: 70%;
    height: 100px;
    background-size: contain;
    
    background-image: url(bubu_dudu_married.jpeg);
}

#photo{
    background-image: url(dudu_bubu_photo_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fedad8;
}


@media (min-width: 551px) {
    
body{
    flex-wrap: wrap;
    flex-direction: row;
}
div{
    width: 40%;
    height: 45%;
}
  }